body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  border: 10px solid #474e5d;
  border-radius: 6px;
  background-color: #677083;
}

.main-timeline {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}

div .card-header {
  background-color: #f8f9fa;
}

h2 {
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: 500;
}

/*background*/
.main-bg {
  background-color: #474e5d;
}

.customer-bg {
  background-color: #f8f9fa;
}

.customer-bg-body {
  background-color: #fff;
}

.customer-bg-wood-1 {
  background-color: #fcc16f;
}
.customer-bg-wood-2 {
  background-color: #fbd8ae;
}

.customer-bg-blue-1 {
  background-color: #99bbce;
}
.customer-bg-blue-2 {
  background-color: #c2d8e4;
}

.customer-bg-green-1 {
  background-color: #89d6bb;
}
.customer-bg-green-2 {
  background-color: #bbedda;
}
/*end background*/

@media print {
  body {
    border: none !important;
  }
}

/*table border*/
.table th,
.table td {
  position: relative;
}
.table .active:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 105%;
  border-left: 5px solid black;
  border-right: 5px solid black;
}
/* Рамка сверху у первой ячейки */
.table tbody tr:first-child .active:after {
  border-top: 5px solid black;
}
/* Рамка снизу у последней ячейки */
.table tbody tr:nth-last-child(-n + 3) .active:after {
  border-bottom: 5px solid black;
  height: auto;
}

.table .activeC:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 105%;
  border-left: 2px solid #0d6efd;
  border-right: 2px solid #0d6efd;
}
/* Рамка сверху у первой ячейки */
.table tbody tr:first-child .activeC:after {
  border-top: 2px solid #0d6efd;
}
/* Рамка снизу у последней ячейки */
.table tbody tr:last-child .activeC:after {
  border-bottom: 2px solid #0d6efd;
  height: auto;
}

.table .active1 td:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 105%;
  border-top: 2px solid #0d6efd;
  border-bottom: 2px solid #0d6efd;
}
/* Рамка слева у первой ячейки */
.table .active1 td:first-child:after {
  border-left: 2px solid #0d6efd;
}
/* Рамка справа у последний ячейки */
.table .active1 td:last-child:after {
  /*border-right: 3px solid orange;*/
  width: auto;
}

.table .active2 td:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 105%;
  border-top: 1px solid #0dcaf0;
  border-bottom: 1px solid #0dcaf0;
}
/* Рамка слева у первой ячейки */
.table .active2 td:first-child:after {
  border-left: 1px solid #0dcaf0;
}
/* Рамка справа у последний ячейки */
.table .active2 td:last-child:after {
  /*border-right: 3px solid orange;*/
  width: auto;
}

.table .active3 td:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 105%;
  border-top: 1px solid #ffc107;
  border-bottom: 1px solid #ffc107;
}
/* Рамка слева у первой ячейки */
.table .active3 td:first-child:after {
  border-left: 1px solid #ffc107;
}
/* Рамка справа у последний ячейки */
.table .active3 td:last-child:after {
  /*border-right: 3px solid orange;*/
  width: auto;
}
/*end table border*/
